/* --------------------------- */
/* HEADER */
/* --------------------------- */

.header {
  padding: 3.2rem 4.8rem;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
}

.logo {
  text-decoration: none;
  color: #333;
  font-size: 2.4rem;
}

.logo span {
  color: #4b45b2;
}

.btn-register:link,
.btn-register:visited {
  color: #7a73fe;
}

.btn-register:hover,
.btn-register:active {
  color: #4b45b2;
}

/* --------------------------- */
/* NAVIGATION */
/* --------------------------- */

.main-nav {
  display: block;
  background-color: #fff;
  padding: 2.4rem 3.2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 #e1e0ff;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #888;
  font-weight: 500;
  transition: 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #7a73fe;
}

/* --------------------------- */
/* SECTION LOGIN */
/* --------------------------- */

.login-register {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8rem;
}

.lbl-login {
  font-size: 2rem;
  font-weight: 700;
}

.input-box {
  border: 1px solid black;
  border-radius: 12px;
  font-size: 1.6rem;
}

.btn-login {
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.register {
  font-size: 1.6rem;
  text-decoration: none;
  color: #333;
  font-weight: 100;
}

/* --------------------------- */
/* SECTION HERO */
/* --------------------------- */

.hero {
  display: flex;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;

  align-items: center;
  gap: 21.79rem;
  justify-content: center;
}

.hero-img {
  display: block;
  width: 60rem;
}

.hero-img-box {
  position: relative;
}

/* .hero-img-box::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #f0efff;
  border-radius: 50%;

  width: 120%;
  height: 70%;
  padding-bottom: 60%;
  z-index: -2;
} */

.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.student {
  font-weight: 500;
  color: #7a73fe;
}

/* --------------------------- */
/* LOG-IN POPUP */
/* --------------------------- */

.login-popup {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 11;
}

.login-picture {
  width: 90%;
}

.form-login-heading {
  display: block;
  font-size: 2.4rem;
  color: #4c4c4c;
  font-weight: 700;
  padding: 1.2rem 3rem;
  padding-left: 0;
}

.div-login-form {
  width: 70%;
  font-size: 1.8rem;
  display: flex;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0);
  /* background-color: #fff; */
  flex-direction: column;
  gap: 3.2rem;
  padding: 8rem 6.4rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.login-lbl {
  font-size: 1.4rem;
  color: #999999;
  display: block;
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0);

  /* background: none; */
  margin-bottom: 1.6rem;
}

.input-box {
  color: #777;
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem;
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0);

  border: none;
  border: 2px solid #8982fe;
  border-radius: 12px;
}

.btn-submit {
  transition: all 300ms;
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem !important;
  background-color: #7a73fe;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* --------------------------- */
/* REGISTRATION PAGE */
/* --------------------------- */

.form-container {
  padding: 8rem 6.4rem;
  max-width: 120rem;
  margin: 0 auto;
}

.form-names {
  justify-content: flex-start;
}

.form-lbl {
  display: block;
  font-size: 2.4rem;
  color: #ddd;
  font-weight: 700;
  padding: 1.2rem 3rem;
  padding-left: 0;
}

.tab-active {
  color: #6b63fe;
}

.btn-forward {
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}

.dob {
  border: none;
  padding: 0;
  padding-top: 1rem;
  font-family: inherit;
}

.no-margin {
  margin: 0;
}

.div-gender {
  gap: 3rem;
  justify-content: flex-start;
}

.age-calculated {
  font-size: 2.4rem;
  color: #4c4c4c;
}

.radio-lbl {
  color: #777;
}

.radios {
  font-size: 1.8rem;
  justify-content: flex-start;
  gap: 1.8rem;
}

.div-student-image {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
}

.input-student-img {
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 200px;
}

.proceed-clear-button {
  grid-column: 2;
  justify-content: flex-end;
  align-self: end;
  gap: 2.4rem;
}

.reg-msg {
  grid-column: 2;
  justify-self: end;
  display: block;
  transform: translateY(-1.6rem);
}

/* *************************************************** */
/* MY WALL PAGE */
/* *************************************************** */

.wall-header {
  /* padding: 3.2rem 4.8rem; */
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  /* border-bottom: 1px solid #ccc; */
}

.nav-other-page {
  width: 50%;
  border: none;
  box-shadow: none;
  padding-right: 0;
}

.div-profile-container {
  max-width: 130rem !important;
  display: flex;
  gap: 4.8rem;
}

.div-user-identity {
  /* box-shadow: 0 0 10px 0 #e1e0ff; */
}

.div-user-details {
  /* padding-top: 1rem; */
  border-radius: 9px;
  /* width: calc(130rem - 9.8rem); */
  gap: 1.6rem;
}

.profile-pic {
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 9px;
  object-fit: cover;
  /* border: 3px solid #6b63fe; */
}

.edit-details-password {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  justify-content: space-evenly;
}

.edit-details-lbl:link,
.edit-details-lbl:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #999;
  transition: 300ms;
}

.edit-details-lbl:hover,
.edit-details-lbl:active {
  color: #6b63fe;
}

.edit-password {
  display: flex;
  align-items: center;
}

.profile-name {
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}

.name p {
  color: #6b63fe;
  font-weight: 700;
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
}

.personal-details-heading,
.academic-details-heading {
  display: flex;
  align-items: center;
}

ion-icon {
  color: #7a73fe;
  font-size: 2.4rem;
}

.details-div-name {
  color: #7a73fe;
  font-size: 2.4rem;
  font-weight: 300;
}

.personal-details,
.academic-details {
  /* box-shadow: 0 0 10px 0 #e1e0ff;
  padding: 3.2rem;
  border-radius: 9px; */
}

.div-details-text {
  display: flex;
  align-items: flex-start;
}

.personal-details label,
.academic-details label {
  display: inline-block;
  width: 20.8rem;
}

.personal-details-body,
.academic-details-body {
  padding: 0 calc(24px + 1.8rem);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  font-size: 1.8rem;
  color: #777;
}
